################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rectangle/Rectangle.py
/Rectangle/Rectangle.sln
/Rectangle/.vs/Rectangle/FileContentIndex/570240c1-9105-4c9c-8680-f0dbfc1a17d9.vsidx
/Rectangle/.vs/Rectangle/v17/.suo
/Rectangle/Rectangle.py
/Rectangle/Rectangle.pyproj
/Rectangle/.vs/Rectangle/FileContentIndex/7cc951eb-65d3-4806-aa17-2e221fb456ad.vsidx
/Rectangle2/.vs/Rectangle2/FileContentIndex/23eca687-9cbd-4069-9c57-30127cbe0d6c.vsidx
/Rectangle2/Rectangle2.py
/Rectangle2/.vs/Rectangle2/v17/.suo
/Rectangle2/Rectangle2.pyproj
/Rectangle2/Rectangle2.sln
