################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rectangle/.vs/Rectangle/FileContentIndex/570240c1-9105-4c9c-8680-f0dbfc1a17d9.vsidx
/Rectangle/.vs/Rectangle/v17/.suo
/Rectangle/Rectangle.pyproj
/Rectangle/.vs/Rectangle/FileContentIndex/7cc951eb-65d3-4806-aa17-2e221fb456ad.vsidx
/Rectangle2/.vs/Rectangle2/FileContentIndex/23eca687-9cbd-4069-9c57-30127cbe0d6c.vsidx
/Rectangle2/Rectangle2.py
/Rectangle2/.vs/Rectangle2/v17/.suo
/Rectangle2/Rectangle2.pyproj
/Rectangle2/Rectangle2.sln
/Rectangle/.vs/Rectangle/FileContentIndex/a963a4af-9d33-481f-aa19-db28ce3c1457.vsidx
/Rectangle/.vs/Rectangle/v17/DocumentLayout.json
/Rectangle/.vs/Rectangle/FileContentIndex/6fcb6eb1-d87f-4a90-ada7-6bc7aea8987d.vsidx
/Rectangle/.vs/Rectangle/FileContentIndex/69c11ef4-d233-4471-8eb3-b0d80a005960.vsidx
/DeckofCards/.vs/DeckofCards/FileContentIndex/cf0f3aad-fc8a-492b-8b68-02ce52aada1e.vsidx
/DeckofCards/.vs/DeckofCards/FileContentIndex/dd6b99da-21a2-48a4-9a67-f204084b9871.vsidx
/TrainingPassport_C/.vs/TrainingPassport_C/FileContentIndex/7e82750f-610b-4bef-b66a-4009f7165025.vsidx
/TrainingPassport_C/.vs/TrainingPassport_C/FileContentIndex/f896a3dd-3178-4366-b4a0-0f50d0310b3d.vsidx
/DeckofCards/.vs/DeckofCards/v17/.suo
/DeckofCards/.vs/DeckofCards/v17/DocumentLayout.json
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/19ba6190-316b-49fa-a71f-de9abf59cd05.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/c163bb21-3e38-4d1c-b2e4-f9b892cd11c4.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/43303c59-cc54-4041-a7bb-9e145476ab88.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/c207f290-dff8-45ce-a5ef-f39ae1e9f31f.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/e70e0ec3-ffbd-4bc1-84ba-b412d071541b.vsidx
/CIS261_week10_SQL/.vs/CIS261_week10_SQL/FileContentIndex/b4017dac-2dba-4eea-a94f-c566b39ce7c8.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/0a2fd9bb-a9f8-4f4d-a91a-a8b346cdb9f2.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/5acb09a2-0cb6-4f06-a785-2aa08f8be139.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/a5d26ec6-c1c7-48ea-9fb7-944dfe0e488f.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/bcb2d049-d83b-4223-887a-494c7527bee2.vsidx
/SupervisorsDashboard/bin/Debug/Data/users.db-journal
/SupervisorsDashboard/UserDAL.cs
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/DesignTimeBuild/.dtbcache.v2
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/305631df-0b05-4029-b5d7-e545e8104ab9.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/v17/.futdcache.v2
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/e9ee4217-e534-4713-8251-7eb58824baa2.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/dcdafff0-96d9-4710-b253-a88f1dcee0fa.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/b6e34ef9-1bd0-4a1f-9d56-06e972405d0d.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/36e5705c-6161-4e7f-adb9-0c2c392edeb1.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/1fafe63d-c272-4690-b2b5-7fc64a30ee74.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/8cb3845e-7d39-4363-8952-2d251fb4857d.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/2b700cbb-6152-4e1d-af73-90d034ec080c.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/ee2ffcdb-d190-4473-9657-35ea8e2af3ad.vsidx
