################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rectangle/.vs/Rectangle/FileContentIndex/570240c1-9105-4c9c-8680-f0dbfc1a17d9.vsidx
/Rectangle/.vs/Rectangle/v17/.suo
/Rectangle/Rectangle.pyproj
/Rectangle/.vs/Rectangle/FileContentIndex/7cc951eb-65d3-4806-aa17-2e221fb456ad.vsidx
/Rectangle2/.vs/Rectangle2/FileContentIndex/23eca687-9cbd-4069-9c57-30127cbe0d6c.vsidx
/Rectangle2/Rectangle2.py
/Rectangle2/.vs/Rectangle2/v17/.suo
/Rectangle2/Rectangle2.pyproj
/Rectangle2/Rectangle2.sln
/Rectangle/.vs/Rectangle/FileContentIndex/a963a4af-9d33-481f-aa19-db28ce3c1457.vsidx
/Rectangle/.vs/Rectangle/v17/DocumentLayout.json
/Rectangle/.vs/Rectangle/FileContentIndex/6fcb6eb1-d87f-4a90-ada7-6bc7aea8987d.vsidx
/Rectangle/.vs/Rectangle/FileContentIndex/69c11ef4-d233-4471-8eb3-b0d80a005960.vsidx
/DeckofCards/.vs/DeckofCards/FileContentIndex/cf0f3aad-fc8a-492b-8b68-02ce52aada1e.vsidx
/DeckofCards/.vs/DeckofCards/FileContentIndex/dd6b99da-21a2-48a4-9a67-f204084b9871.vsidx
/TrainingPassport_C/.vs/TrainingPassport_C/FileContentIndex/7e82750f-610b-4bef-b66a-4009f7165025.vsidx
/TrainingPassport_C/.vs/TrainingPassport_C/FileContentIndex/f896a3dd-3178-4366-b4a0-0f50d0310b3d.vsidx
/DeckofCards/.vs/DeckofCards/v17/.suo
/DeckofCards/.vs/DeckofCards/v17/DocumentLayout.json
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/19ba6190-316b-49fa-a71f-de9abf59cd05.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/c163bb21-3e38-4d1c-b2e4-f9b892cd11c4.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/43303c59-cc54-4041-a7bb-9e145476ab88.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/c207f290-dff8-45ce-a5ef-f39ae1e9f31f.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/e70e0ec3-ffbd-4bc1-84ba-b412d071541b.vsidx
/CIS261_week10_SQL/.vs/CIS261_week10_SQL/FileContentIndex/b4017dac-2dba-4eea-a94f-c566b39ce7c8.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/0a2fd9bb-a9f8-4f4d-a91a-a8b346cdb9f2.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/5acb09a2-0cb6-4f06-a785-2aa08f8be139.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/a5d26ec6-c1c7-48ea-9fb7-944dfe0e488f.vsidx
/SupervisorsDashboard/.vs/SupervisorsDashboard/FileContentIndex/bcb2d049-d83b-4223-887a-494c7527bee2.vsidx
/SupervisorsDashboard/bin/Debug/Data/users.db-journal
/SupervisorsDashboard/UserDAL.cs
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/DesignTimeBuild/.dtbcache.v2
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/305631df-0b05-4029-b5d7-e545e8104ab9.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/v17/.futdcache.v2
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/e9ee4217-e534-4713-8251-7eb58824baa2.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/dcdafff0-96d9-4710-b253-a88f1dcee0fa.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/b6e34ef9-1bd0-4a1f-9d56-06e972405d0d.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/36e5705c-6161-4e7f-adb9-0c2c392edeb1.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/1fafe63d-c272-4690-b2b5-7fc64a30ee74.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/8cb3845e-7d39-4363-8952-2d251fb4857d.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/2b700cbb-6152-4e1d-af73-90d034ec080c.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/ee2ffcdb-d190-4473-9657-35ea8e2af3ad.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/3850d469-397e-47db-a584-e381a583adb3.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/5239807d-6ebc-4e96-bf83-d90edbdad02a.vsidx
/WFWSupervisorsDashboard/.vs/WFWSupervisorsDashboard/FileContentIndex/f52f55d8-e832-4d00-875f-a852ade36993.vsidx
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/appsettings.Development.json
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/appsettings.json
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/BrowserDebugHost.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/BrowserDebugHost.runtimeconfig.json
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/BrowserDebugProxy.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Microsoft.CodeAnalysis.CSharp.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Microsoft.CodeAnalysis.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Microsoft.CodeAnalysis.Scripting.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Microsoft.FileFormats.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Microsoft.NET.WebAssembly.Webcil.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Microsoft.SymbolStore.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/BlazorDebugProxy/Newtonsoft.Json.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/cs/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/de/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/es/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/fr/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Humanizer.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/it/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ja/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ko/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/MainTainSense.deps.json
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/MainTainSense.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/MainTainSense.exe
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/MainTainSense.pdb
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/MainTainSense.runtimeconfig.json
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/MainTainSense.staticwebassets.runtime.json
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.AspNetCore.Authorization.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.AspNetCore.Components.WebAssembly.Server.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.AspNetCore.JsonPatch.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.AspNetCore.Metadata.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.Bcl.AsyncInterfaces.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.CodeAnalysis.CSharp.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.CodeAnalysis.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.CodeAnalysis.Workspaces.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.EntityFrameworkCore.Design.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.EntityFrameworkCore.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.EntityFrameworkCore.Relational.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.Extensions.DependencyModel.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.Extensions.Options.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Microsoft.Windows.SDK.NET.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Mono.TextTemplating.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Newtonsoft.Json.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Npgsql.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pl/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/Properties/launchSettings.json
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ru/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/System.CodeDom.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/System.Composition.AttributedModel.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/System.Composition.Convention.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/System.Composition.Hosting.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/System.Composition.Runtime.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/System.Composition.TypedParts.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/tr/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/WinRT.Runtime.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/MainTainSense/bin/Debug/net8.0-windows10.0.22621.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/.vs/MainTainSenseAPI/config/applicationhost.config
/MainTainSenseAPI/.vs/MainTainSenseAPI/DesignTimeBuild/.dtbcache.v2
/MainTainSenseAPI/.vs/MainTainSenseAPI/FileContentIndex/03810c8b-b0d6-47fc-9ae2-55ae89b7ec78.vsidx
/MainTainSenseAPI/.vs/MainTainSenseAPI/FileContentIndex/499e71dd-2923-435e-9a4e-784f7bf19236.vsidx
/MainTainSenseAPI/.vs/MainTainSenseAPI/FileContentIndex/4b1ece4a-00a9-41ac-a854-ad871525c23b.vsidx
/MainTainSenseAPI/.vs/MainTainSenseAPI/FileContentIndex/9cd91fbe-03ce-41e2-bc1b-9d4f19752804.vsidx
/MainTainSenseAPI/.vs/MainTainSenseAPI/FileContentIndex/ffc38817-3537-4c3a-892a-d6b17eeddd73.vsidx
/MainTainSenseAPI/.vs/MainTainSenseAPI/v17/.futdcache.v2
/MainTainSenseAPI/.vs/MainTainSenseAPI/v17/.suo
/MainTainSenseAPI/.vs/MainTainSenseAPI/v17/DocumentLayout.json
/MainTainSenseAPI/.vs/ProjectEvaluation/maintainsenseapi.metadata.v7.bin
/MainTainSenseAPI/.vs/ProjectEvaluation/maintainsenseapi.projects.v7.bin
/MainTainSenseAPI/appsettings.Development.json
/MainTainSenseAPI/appsettings.json
/MainTainSenseAPI/BaseController.cs
/MainTainSenseAPI/bin/Debug/net8.0/appsettings.Development.json
/MainTainSenseAPI/bin/Debug/net8.0/appsettings.json
/MainTainSenseAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/Humanizer.dll
/MainTainSenseAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/MainTainSenseAPI.deps.json
/MainTainSenseAPI/bin/Debug/net8.0/MainTainSenseAPI.dll
/MainTainSenseAPI/bin/Debug/net8.0/MainTainSenseAPI.exe
/MainTainSenseAPI/bin/Debug/net8.0/MainTainSenseAPI.pdb
/MainTainSenseAPI/bin/Debug/net8.0/MainTainSenseAPI.runtimeconfig.json
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.Data.Sqlite.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Sqlite.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/MainTainSenseAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/MainTainSenseAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
/MainTainSenseAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/browser-wasm/nativeassets/net8.0/e_sqlite3.a
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-arm/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-arm64/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-armel/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-mips64/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-ppc64le/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-s390x/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-x64/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/linux-x86/native/libe_sqlite3.so
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/osx-x64/native/libe_sqlite3.dylib
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/win-arm/native/e_sqlite3.dll
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/win-arm64/native/e_sqlite3.dll
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/win-x64/native/e_sqlite3.dll
/MainTainSenseAPI/bin/Debug/net8.0/runtimes/win-x86/native/e_sqlite3.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.AspNetCore.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.Sinks.Console.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
/MainTainSenseAPI/bin/Debug/net8.0/Serilog.Sinks.File.dll
/MainTainSenseAPI/bin/Debug/net8.0/SQLitePCLRaw.batteries_v2.dll
/MainTainSenseAPI/bin/Debug/net8.0/SQLitePCLRaw.core.dll
/MainTainSenseAPI/bin/Debug/net8.0/SQLitePCLRaw.provider.e_sqlite3.dll
/MainTainSenseAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/MainTainSenseAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/MainTainSenseAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/MainTainSenseAPI/bin/Debug/net8.0/System.CodeDom.dll
/MainTainSenseAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/MainTainSenseAPI/bin/Debug/net8.0/System.Composition.Convention.dll
/MainTainSenseAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
/MainTainSenseAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
/MainTainSenseAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
/MainTainSenseAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/MainTainSenseAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MainTainSenseAPI/Controllers/AssetsController.cs
/MainTainSenseAPI/Controllers/WeatherForecastController.cs
/MainTainSenseAPI/Filters/AllowAllAuthorizationFilter.cs
/MainTainSenseAPI/Filters/GlobalExceptionFilter.cs
/MainTainSenseAPI/Logs/myapp-{Date}.txt
/MainTainSenseAPI/MainTainSenseAPI.csproj
/MainTainSenseAPI/MainTainSenseAPI.csproj.user
/MainTainSenseAPI/MainTainSenseAPI.http
/MainTainSenseAPI/MainTainSenseAPI.sln
/MainTainSenseAPI/Models/Accesslevel.cs
/MainTainSenseAPI/Models/Asset.cs
/MainTainSenseAPI/Models/AssetType.cs
/MainTainSenseAPI/Models/Building.cs
/MainTainSenseAPI/Models/Category.cs
/MainTainSenseAPI/Models/Checklist.cs
/MainTainSenseAPI/Models/ChecklistItem.cs
/MainTainSenseAPI/Models/Department.cs
/MainTainSenseAPI/Models/Frequency.cs
/MainTainSenseAPI/Models/Location.cs
/MainTainSenseAPI/Models/MainTainSenseDataContext.cs
/MainTainSenseAPI/Models/Message.cs
/MainTainSenseAPI/Models/Permission.cs
/MainTainSenseAPI/Models/PmChecklist.cs
/MainTainSenseAPI/Models/PmTemplate.cs
/MainTainSenseAPI/Models/PreventiveMaintenance.cs
/MainTainSenseAPI/Models/Priority.cs
/MainTainSenseAPI/Models/Role.cs
/MainTainSenseAPI/Models/RolePermission.cs
/MainTainSenseAPI/Models/Status.cs
/MainTainSenseAPI/Models/Team.cs
/MainTainSenseAPI/Models/TeamMember.cs
/MainTainSenseAPI/Models/TemplateTask.cs
/MainTainSenseAPI/Models/User.cs
/MainTainSenseAPI/Models/UserRole.cs
/MainTainSenseAPI/Models/WorkOrder.cs
/MainTainSenseAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MainTainSenseAPI/obj/Debug/net8.0/ApiEndpoints.json
/MainTainSenseAPI/obj/Debug/net8.0/apphost.exe
/MainTainSenseAPI/obj/Debug/net8.0/MainTain.EC1E38C7.Up2Date
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.AssemblyInfo.cs
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.AssemblyInfoInputs.cache
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.assets.cache
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.csproj.AssemblyReference.cache
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.csproj.BuildWithSkipAnalyzers
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.csproj.CoreCompileInputs.cache
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.csproj.FileListAbsolute.txt
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.dll
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.GeneratedMSBuildEditorConfig.editorconfig
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.genruntimeconfig.cache
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.GlobalUsings.g.cs
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.MvcApplicationPartsAssemblyInfo.cache
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.MvcApplicationPartsAssemblyInfo.cs
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.pdb
/MainTainSenseAPI/obj/Debug/net8.0/MainTainSenseAPI.sourcelink.json
/MainTainSenseAPI/obj/Debug/net8.0/ref/MainTainSenseAPI.dll
/MainTainSenseAPI/obj/Debug/net8.0/refint/MainTainSenseAPI.dll
/MainTainSenseAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.MainTainSenseAPI.props
/MainTainSenseAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.MainTainSenseAPI.props
/MainTainSenseAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.MainTainSenseAPI.props
/MainTainSenseAPI/obj/Debug/net8.0/staticwebassets.build.json
/MainTainSenseAPI/obj/MainTainSenseAPI.csproj.EntityFrameworkCore.targets
/MainTainSenseAPI/obj/MainTainSenseAPI.csproj.nuget.dgspec.json
/MainTainSenseAPI/obj/MainTainSenseAPI.csproj.nuget.g.props
/MainTainSenseAPI/obj/MainTainSenseAPI.csproj.nuget.g.targets
/MainTainSenseAPI/obj/project.assets.json
/MainTainSenseAPI/obj/project.nuget.cache
/MainTainSenseAPI/Program.cs
/MainTainSenseAPI/Properties/launchSettings.json
/MainTainSenseAPI/WeatherForecast.cs
/WebEOCMMS/.vs/WebEOCMMS/FileContentIndex/491805d3-b2d5-4f26-9d8b-e92537c5c800.vsidx
/WebEOCMMS/.vs/WebEOCMMS/FileContentIndex/ecf8e420-a09d-4c73-b161-e9b8ac40cadf.vsidx
